 <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Username" >
        </mat-form-field>
    
        <mat-form-field>
             <input matInput type="password" placeholder="Password" >
        </mat-form-field>
        <button mat-raised-button color="primary"type="submit">Login</button>&nbsp;
        <button mat-raised-button color="accent"type="submit">Register</button>
      </form>
    </mat-card>
</div>
